
.mat-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mat-dialog-content {
    display: flex;
    flex-direction: column;    
}

.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}