<h1 mat-dialog-title>Change Password</h1>

<form [formGroup]="pwdForm" (ngSubmit)="submit()">

  <mat-dialog-content>

    <mat-form-field *ngIf="!adminMode">
      <input type="password" matInput placeholder="Old password" formControlName="oldPassword">
      <mat-error *ngFor="let error of pwdForm.get('oldPassword').errors | keyvalue">
        {{error.key === 'required' ? 'Old password is required' : ''}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="New Password" formControlName="newPassword">
      <mat-error *ngFor="let error of pwdForm.get('newPassword').errors | keyvalue">
        {{error.key === 'required' ? 'New password is required' : ''}}
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="!adminMode">
      <input type="password" matInput placeholder="Retype new Password" formControlName="newPassword1">
      <mat-error *ngFor="let error of pwdForm.get('newPassword1').errors | keyvalue">
        {{error.key === 'required' ? 'New password is required' : ''}}
        {{error.key === 'passwordMismatch' ? 'Password is different from the above' : ''}}
      </mat-error>
    </mat-form-field>

    <div class="spinner" *ngIf="loading$ | async">
      <mat-spinner></mat-spinner>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="button" (click)="close()">Cancel</button>
    <button mat-button type="submit" [disabled]="!pwdForm.valid">Save</button>
  </mat-dialog-actions>

</form>