
.mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px;
}

.mat-card-content {
    display: flex;
    flex-direction: column;    
}

.mat-card-actions {
    display: flex;
    justify-content: flex-end;
}